@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Space+Grotesk&family=Space+Mono&display=swap');
:root { 
    /*  Fonts */
    --SpaceGrotesk: 'Space Grotesk', sans-serif;
    --SpaceMono: 'Space Mono', monospace;
    /*  Colors */
    --background-color: #1a1a1a;
    --gray: #565656;
    --font-color: #f9f9f9;
    --transparent: rgba(26, 26, 26, 0.8);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--SpaceMono), 'Courier New', Courier, monospace;
    /* BACKGROUND IMAGE FROM: https://unsplash.com/photos/island-painting-nbneQlI2M1A */
    background: url(https://images.unsplash.com/photo-1578301977886-43be7b983104?q=80&w=1523&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    min-height: 200px;
    max-height: 300px;
}
#container {
    position: absolute;
    border: 2px solid var(--gray);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    border-radius: 10px;
}
header {
    padding: 10px 40px;
    background-color: var(--gray);
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.content {
    padding: 20px;
    background-color: var(--transparent);
    border-radius: 0 0 7px 7px;
}
.details {

    z-index: 1;
}
.title {
    text-align: center;
}