@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Space+Grotesk&family=Space+Mono&display=swap');
:root { 
    /*  Fonts */
    --SpaceGrotesk: 'Space Grotesk', sans-serif;
    --SpaceMono: 'Space Mono', monospace;
    /*  Colors */
    --background-color: #1a1a1a;
    --gray: #565656;
    --font-color: #f9f9f9;
    --transparent: rgba(26, 26, 26, 0.8);
    --orange: #cb8f77;
    --yellow: #d7ba7d;
    --greenLight: #b3cba6;
    --greenDark: #6b9755;
    --blueLight: rgba(120, 169, 194, 0.5);
    --blueDark: #369ff7;
    --purple: rgba(166, 115, 161, 0.5);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    background: var(--greenLight);
}
/* == Scrollbar Styling == */
/* width */
::-webkit-scrollbar {
    width: 10px; 
}

 
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blueLight);
    border-radius: 15px;
}

body {
    font-family: var(--SpaceMono), 'Courier New', Courier, monospace;
    /* BACKGROUND IMAGE FROM: https://unsplash.com/photos/island-painting-nbneQlI2M1A */
    background-image: url(https://images.unsplash.com/photo-1578301977886-43be7b983104?q=80&w=1523&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-y: auto; */
}
#container {
    position: absolute;
    border: 1px solid var(--gray);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    border-radius: 10px;
    width: 85%;
    max-width: 1000px;
    top: 10%;
    margin: 10px;
}
header {
    padding: 10px 40px;
    background-color: var(--gray);
    width: 100%;
    border-radius: 6px 6px 0 0;
}
hr {
    border: 1px solid var(--gray);
}
.content {
    padding: 20px;
    background-color: var(--transparent);
    border-radius: 0 0 7px 7px;
}
.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.button-grid button {
    /* width: 50%; */
    box-sizing: border-box;
}
/* Blinking: https://www.w3docs.com/tools/editor/2777 */
.blink {
    font-style: normal;
    animation: blinker 1s steps(1) infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
button {
    background: none;
	color: inherit;
	border: none;
    padding: .2em;
	font: inherit;
	cursor: pointer;
}
.link {
    text-decoration: none;
    color: var(--font-color);
}
.link:hover {
    background-color: var(--purple);
}
blockquote {
    padding-left: 2.4em;
    text-indent: -2.4em;
    word-wrap: break-word;
}
.orange {
    color: var(--orange);
}
.yellow {
    color: var(--yellow);
}
.greenLight {
    color: var(--greenLight);
}
.greenDark {
    color: var(--greenDark);
}
.blueLight {
    color: var(--blueLight);
}
.blueDark {
    color: var(--blueDark);
    text-decoration: underline;
    line-height: 1em;
}
.purple {
    color: var(--purple);
}
.cursor {
    color: var(--font-color);
}
.title {
    text-align: center;
}
@media only screen and (max-width: 800px) {
    #container {
        margin: 0 20px;
    }
}