@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Space+Grotesk&family=Space+Mono&display=swap');
:root { 
    /*  Fonts */
    --SpaceGrotesk: 'Space Grotesk', sans-serif;
    --SpaceMono: 'Space Mono', monospace;
    /*  Colors */
    --background-color: #1a1a1a;
    --gray: #565656;
    --font-color: #f9f9f9;
    --transparent: rgba(26, 26, 26, 0.8);
    --orange: #cb8f77;
    --yellow: #d7ba7d;
    --greenlight: #b3cba6;
    --greenDark: #6b9755;
    --blueLight: rgba(120, 169, 194, 0.5);
    --blueDark: #369ff7;
    --purple: rgba(166, 115, 161, 0.5);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    background: var(--greenlight);
    /* color: var(--font-color); */
}
/* == Scrollbar Styling == */
/* width */
::-webkit-scrollbar {
    width: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--transparent);
    border: none;
}
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: var(--gray);
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: var(--transparent); 
} */
body {
    font-family: var(--SpaceMono), 'Courier New', Courier, monospace;
    /* BACKGROUND IMAGE FROM: https://unsplash.com/photos/island-painting-nbneQlI2M1A */
    background: url(https://images.unsplash.com/photo-1578301977886-43be7b983104?q=80&w=1523&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    max-height: 300px;
}
#container {
    position: absolute;
    border: 1px solid var(--gray);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    border-radius: 10px;
    max-width: 800px;
    top: 10px;
    margin: 10px;
}
header {
    padding: 10px 40px;
    background-color: var(--gray);
    width: 100%;
    border-radius: 6px 6px 0 0;
}
hr {
    border: 1px solid var(--gray);
}
.content {
    padding: 20px;
    background-color: var(--transparent);
    border-radius: 0 0 7px 7px;
}
/* Blinking: https://www.w3docs.com/tools/editor/2777 */
.blink {
    font-style: normal;
    animation: blinker 1s steps(1) infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
button {
    background: none;
	color: inherit;
	border: none;
    padding: .2em;
	font: inherit;
	cursor: pointer;
}
.link {
    text-decoration: none;
    color: var(--font-color);
}
.link:hover {
    background-color: var(--purple);
}
blockquote {
    padding-left: 2.4em;
    text-indent: -2.4em;
    word-wrap: break-word;
}
.orange {
    color: var(--orange);
}
.yellow {
    color: var(--yellow);
}
.greenLight {
    color: var(--greenlight);
}
.greenDark {
    color: var(--greenDark);
}
.blueLight {
    color: var(--blueLight);
}
.blueDark {
    color: var(--blueDark);
    text-decoration: underline;
    line-height: 1em;
}
.purple {
    color: var(--purple);
}
.cursor {
    color: var(--font-color);
}
.title {
    text-align: center;
}
@media only screen and (max-width: 800px) {
    #container {
        margin: 0 20px;
    }
}
@media only screen and (max-width: 600px) {
    body {
        background-color: #1a1a1a;
        /* SVG FROM: https://heropatterns.com */
        background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23565656' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
        background-repeat: repeat;
    }
}