/* Website Portion Start */
* {
    box-sizing: border-box;
    /* background-color: white; */
} 
body {
    font-family: 'Space Mono', monospace;
    background-color: white;
    padding: 10px !important;
}

/* A is for the way you ... */
a {
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: rgba(255, 255, 255, 0) !important;
    text-decoration: none;
}
/* Nav Bar > Marz Barz  (w/ dropdown menu) */
ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
li {
    display: inline-block;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}
hr {
    border: 2px solid black !important;
    margin: 2px 0 !important;
    clear: right !important;
    border-radius: 2px !important;
}
.w3-top {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}
.w3-top:hover {
    background-color: #ccc !important;
}
.w3-button:hover {
    border-radius: 6px !important;
    background-color: #ccc !important;
}
#about, #bio, #experience {
    padding-left: 200px; 
    padding-right: 200px; 
}
#life {
    padding-left: 3.4em;
    text-indent: -3.4em;
    word-wrap: break-word;
}
span {
    font-family: 'Space Grotesk', sans-serif !important;
    font-weight: 400;
    font-size: 18px;
    margin-right: 1em;
}
/* Blinking: https://www.w3docs.com/tools/editor/2777 */
span > .blink {
    font-style: normal;
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
#contact {
    text-align: center;
}
/* Links Start */
.links, .linx {
    text-align: center;
}
.links {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border: solid 2px black;
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
}
.links:hover {
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    transition-duration: 0.4s;
}
.links:active {
    background-color: black;
}
.linx {
    font-family: 'Space Mono', monospace !important;
}
/* Links End */

/* Stop! Header Time! */
.header {
    font-family: 'Space Grotesk', sans-serif;
    grid-area: header;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}
.header > h2 { /* Zo DiSanto */
    font-size: 35px;
}
.header > p { /* 'Your friendly neighborhood Web Developer' */
    font-family: 'Space Mono', monospace !important;
    font-size: 25px;
    font-style: italic;
    opacity: 0.55;
}
p, blockquote {
    font-family: 'Space Mono', monospace !important;
    font-size: 16px;
}

/* The grid container */
.container {
    display: grid;
    grid-template-areas: 
        'header header header header header header' 
        'left left middle middle right right' 
        'footer footer footer footer footer footer';
    grid-column-gap: 10px; 
    grid-row-gap: 10px; 
} 
.undline:hover {
    text-decoration: underline;
}
.button {
    text-align: center;
    color: white;
    background-color: black;
}
.lColum, .mColum, .rColum {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    padding: 10px;
    border: 2px solid black; 
    border-radius: 10px;    
    /* Black n White Filter */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    transition-timing-function: linear;
}
.lColum:hover, .mColum:hover, .rColum:hover {
    /* Shadow */
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    /* transition-duration: 0.4s; */
    /* Change to color on hover */
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    transition: 0.4s;
}
/* Style the left column */
.lColum {
    grid-area: left;
}
/* Style the middle column */
.mColum {
    grid-area: middle;
}
/* Style the right column */
.rColum {
    grid-area: right;
}
/* In the Name of Images */
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 10px;
}
.subtext {
    font-size: small;
}
/* End of grid container */

/* Style the footer */
#footer {
    grid-area: footer;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
/* Website Portion End */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 830px) {
    #about, #experience {
        padding-right: 25px;
        padding-left: 25px;
    }
    li a {
        font-size: 15px;
        display: inline-block;
        padding: 0px 0px;
        text-decoration: none;
    }
    .container  {
        grid-template-areas: 
            'header header header header header header' 
            'left left left left left left' 
            'middle middle middle middle middle middle' 
            'right right right right right right' 
            'footer footer footer footer footer footer';
    }
    .lColum, .mColum, .rColum { 
        /* In mobile view - no transition */
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    .lColum:hover, .mColum:hover, .rColum:hover {
        /* Shadow */
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        transition-duration: 0.4s;
    }
}
